{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if include.paper_number %}{{ include.paper_number }}. {% endif %}
      {% if post.nolink %}
        {{ title }}
      {% elsif post.link %}
        <a href="{{ post.link }}" target="_blank" rel="noopener">{{ title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          {% if post.category == 'conferences' %}
            <p>Presented at <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
          {% elsif post.category == 'preprints' %}
            <p>{{ post.status | default: "Working paper" }}</p>
          {% else %}
            <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
          {% endif %}
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
      {% if post.collection == 'publications' %}
    <p class="publication__detail" itemprop="description">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
      {% else %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
      {% endif %}
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}

    {% capture paper_download_attr %}{% if post.paperdownload %} download{% endif %}{% endcapture %}
    
    {% if post.citation %}
      {% if post.category != 'preprints' %}
        {% if post.category != 'conferences' %}
      <p class="publication__detail">Recommended citation: {{ post.citation }}</p>
        {% endif %}
      {% endif %}
    {% endif %}

    {% if post.paperurl or post.slidesurl or post.bibtexurl %}
      <p class="archive__item-links">
        {% if post.paperurl %}<a class="btn btn--primary" href="{{ post.paperurl }}"{{ paper_download_attr }}>Paper Download</a>{% endif %}
        {% if post.slidesurl %}{% if post.paperurl %} {% endif %}<a class="btn" href="{{ post.slidesurl }}" download>Slides Download</a>{% endif %}
        {% if post.bibtexurl %}{% if post.paperurl or post.slidesurl %} {% endif %}<a class="btn" href="{{ post.bibtexurl }}" download>BibTeX Download</a>{% endif %}
      </p>
    {% endif %}

  </article>
</div>
